@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #1d1d20;
  width: 95vw;
  /* img size is 50x50 */
  background: url("../images/blocktile.png") repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 0.92s infinite;
  /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse 0.92s infinite;
  /* Fx 5+ */
  -o-animation: bg-scrolling-reverse 1.4s infinite;
  /* Opera 12+ */
  animation: bg-scrolling-reverse 1.4s infinite;
  /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}


$mobile: 576px;
$tablet: 768px;
$desktop: 992px;
$miniDesktop: 1320px;

p {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #ccc;
}

a {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.inner-container-wrap {
  width: 80vw;
  max-height: 100vh;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.socials {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  align-items: center;
}

.inner-container {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */ }
  .inner-container::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.column {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 10px;
  

}

.upper-row {
  display: flex;
  justify-content: space-between;
  p {
    color: #ccc;
    font-size: 20px;
    letter-spacing: 1.5px;
  }

  svg {
    color: #ccc;
    cursor: pointer;
    &:hover {
      color: white;
      transform: scale(1.1);
    }
  }
}

.carousel-container{
  height: 200px;
  width: min-content;
  // width: 90vw;
  margin: 20px;
}

.carousel-switch-container{
  display: flex;
  justify-content: space-between;
  max-width: 80vw;
}

.info-project-section{
  max-width: 85vw;
}

.carousel-image-container{
  height: 70%;
  width: 300px
}

.container {
  position: relative;
  top: 0;
  left: 0;
}

.container-reversed {
  position: relative;
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
  align-self: flex-end;
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 220px;

  border-radius: 5px;
}

.info-container{
  padding: 20px 30px;
  width: 100%;
}

.info-stack-section{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 25vh;
}

.gradient-in-left {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

.gradient-out-left {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(253, 187, 45, 1) 0%,
    rgba(34, 193, 195, 1) 100%
  );
}

.left-mini {
  width: 5px !important;
  height: 100px !important;
}

.right-mini {
  width: 100px !important;
  height: 5px !important;
}

.right {
  width: 190px;
  height: 15px;

  border-radius: 5px;
}

.gradient-in-right {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    -90deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

.gradient-out-right {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    -90deg,
    rgba(253, 187, 45, 1) 0%,
    rgba(34, 193, 195, 1) 100%
  );
}

.description-content {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 60%;
}

.middle-row {
  display: flex;
  margin: 20px;
  align-items: center;
  justify-content: space-between;
}

.project-description-details{
  width: 40%;
}

.project-title {
  color: #ccc;
  font-weight: bold;
  font-size: 24px;
}
.welcome {
  font-size: 60px !important;
  letter-spacing: 5px;
  color: #ccc;
  animation-name: bounceIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
@keyframes bounceIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.project-container {
  animation-name: bounceIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.animate{
  animation-name: bounceIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.description-container {
  display: flex;
  align-items: end;
  height: fit-content;
  width: fit-content;
}

.description-text {
  color: #ccc;
  margin-left: 20px;
  margin-bottom: 25px;
}

.gradient-bar {
  align-self: stretch;
  width: 10px;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

.links {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 90%;
  margin-left: 20px;

  
  .link-text {
    cursor: pointer;
    color: #ccc;
    display: inline;
    text-decoration: none;
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(transparent, transparent),
      linear-gradient(to right, #30e8bf, #ff8235);
    background-repeat: no-repeat;
    background-position: 130%, 150%, 0 180%;
    background-size: 100% 10px;
    font-weight: bold;
    margin: 20px;
  }
}

.imageTiles{
  display: flex;
  width: 50%;
}

.projects-outline {
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: fit-content;
}
a {
  cursor: pointer;
  color: #ccc;
  display: inline;
  text-decoration: none;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(transparent, transparent),
    linear-gradient(to right, #30e8bf, #ff8235);
  background-repeat: no-repeat;
  background-position: 130%, 150%, 0 180%;
  background-size: 100% 10px;
  font-weight: bold;
  margin: 10px 5px;
  &:hover {
    color: white;
    transform: scale(1.05);
  }
}

.project-selection {
  width: 30%;
  height: 70%;
}

.description-m-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-top: 20px;
}

.noImg{
  grid-template-columns: 1fr 0fr;
}

img{
  height: 200px;
}

@media screen and (max-width: $mobile) {

  .carousel-image-container{
    width: fit-content;
  }

  .description-m-container{
    display: flex;
    flex-direction: column;

  }

  .info-container{
    width: 100vw;
  }
  .info-top-section{
    p{
      font-size: 16px !important;
    }
    .info-stack-section{
      padding: 10px;
    }
  }
  .welcome {
    font-size: 45px !important;
  }
  .inner-container-wrap {
    p {
      font-size: 14px;
    }
    width: 100vw;
    overflow: scroll;
    .right {
      display: none;
    }
    .left {
      display: none;
    }
  }
  .column {
    width: 100%;
  }
  .inner-container {
    width: 90vw;
  }
  .upper-row {
    p {
      font-size: 14px !important;
    }
    .socials {
      width: 40%;
    }
  }

  .middle-row {
    flex-direction: column;
    .description-content {
      width: 100%;
    }
  }

  .project-selection {
    width: 100%;
  }

  .links {
    width: 100%;
  }

  .info-container{
    padding: 0;
  }
}

.stack-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  width: 10%;
}

.stack-row-others {
  display: flex;
  align-items: center;
  margin: 20px;
}


@media screen and (max-width: $tablet) {
  .inner-container-wrap {
    width: 100vw;
    overflow: scroll;
    .right {
      display: none;
    }
    .left {
      display: none;
    }
  }
  .column {
    width: 100%;
  }
  .inner-container {
    width: 90vw;
  }
  .upper-row {
    p {
      font-size: 14px !important;
    }
    .socials {
      width: 40%;
    }
  }

  .middle-row {
    flex-direction: column;
    .description-content {
      width: 100%;
    }
  }

  .project-selection {
    width: 100%;
  }
}

@media screen and (min-width: $desktop) and (max-height: 660px) {
  .inner-container-wrap {
    height: fit-content;
    max-height: 100vh;
  }
}

@media screen and (max-width: $miniDesktop) {
  .description-m-container {
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
    align-items: start;
    padding-bottom: 5rem;
  }
}
